body {
    font-size: 18px;
}

body, main, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    width: 260px;
}

.devtools-title {
    background-color: #7f6cff;
    color: #fff;
}

.devtools-item {
    padding: 0 20px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.devtools-item + .devtools-item {
    border-top: 1px solid #ccc;
}

.devtools-option {
    cursor: pointer;
}
.devtools-option:hover {
    background-color: #eee;
}